{% extends 'base.html.twig' %}

{% block title %}Hello HomeAdminController!{% endblock %}

{% block body %}

        <hr>
        <nav>
            <a href="{{ path('home') }}">Retour Home</a>
        </nav>
        <hr>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/mindgames/src/Controller/HomeAdminController.php'|file_link(0) }}">src/Controller/HomeAdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/mindgames/templates/home_admin/index.html.twig'|file_link(0) }}">templates/home_admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
