{% extends 'base_admin.html.twig' %}

{% block title %}Acceuil administrateur{% endblock %}

{% block body %}

    {% include "includes/nav_admin.html.twig" %}

    <h1>ACCUEIL ADMINISTRATEUR</h1>

    {#<div class="card container row bg-primary">
        <div class="offset-3 col-6">
            <div class="card-body ">
                <img src="{{ asset(user.picture) }}" alt="Card image" class="img-responsive" width="100" height="100">
                <p class="card-text">Pseudo : {{ user.pseudo }}</p>
                <p class="card-text">Email : {{ user.mail }}</p>
            </div>
        </div>
    </div>#}

{% endblock %}
