{% block title %}{{ title_name }} Jeux{% endblock %}

{% block body %}

<h1>{{ title_name }} Jeux</h1>

{{ form(game_form)}}


<a href="{{ path('home') }}" class="nav-link btn btn-danger">Retour à la liste</a>


{% endblock %}
