{% extends "base_admin.html.twig" %}

{% block title %}Game_admin{% endblock %}

{% block body %}
<h1>Liste des jeux</h1>
{% for game in games %}
<div><p>game.name</p><a href="{{ path('edit_game', { id: game.id }) }}">Modifier jeux</a></div>
    
{% endfor %}
{% endblock %}
