{% extends 'base_admin.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

    {% include "includes/nav_admin.html.twig" %}

<div class="example-wrapper">
    <h1>JEUX</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/mindgames/src/Controller/GameController.php'|file_link(0) }}">src/Controller/GameController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/mindgames/templates/game/registration_user.html.twig.twig'|file_link(0) }}">templates/game/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
