{% block navAdmin %}

    <nav class="navbar navbar-expand-lg navbar-dark p_bg-1">
        <div class="p_toggler-right col-1"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMindGamesAdmin"
            aria-controls="navbarsMindGamesAdmin" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-around" id="navbarsMindGamesAdmin">
            <ul class="navbar-nav">
                <li class="nav-item text-right">
                    <a class="nav-link p_nav-icone" href="#"><img src="img/dragon_545-600.png" alt=""
                            class="m-0 text-right d-inline"></a>
                </li>
                <li class="nav-item text-right">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item text-right">
                    <a class="nav-link" href="#">API</a>
                </li>
                <li class="nav-item text-right">
                    <a class="nav-link" href="#">STOCK</a>
                </li>
                <li class="nav-item dropdown text-right">
                    <a data-toggle="collapse" href="#colaps1" role="button" aria-expanded="false"
                        aria-controls="collapseExample" class="nav-link">Jeux</a>
                    <div class="collapse" id="colaps1">
                        <div class="col"><a href="{{ path('liste_jeux') }}">Liste</a></div>
                        <div class="col"><a href="">Ajouter</a></div>
                    </div>
                </li>
                <li class="nav-item dropdown text-right">
                    <a data-toggle="collapse" href="#colaps2" role="button" aria-expanded="false"
                        aria-controls="collapseExample" class="nav-link">Commandes</a>
                    <div class="collapse" id="colaps2">
                        <div class="col"><a href="{{ path('commands') }}">Liste</a></div>
                        <div class="col"><a href="">Ajouter</a></div>
                    </div>
                </li>
                <li class="nav-item dropdown text-right">
                    <a data-toggle="collapse" href="#colaps3" role="button" aria-expanded="false"
                        aria-controls="collapseExample" class="nav-link">Utilisateurs</a>
                    <div class="collapse" id="colaps3">
                        <div class="col"><a href="#">Afficher</a></div>
                        <div class="col"><a href="">Ajouter</a></div>
                        <div class="col"><a href="">Modifier</a></div>
                        <div class="col"><a href="">Supprimer</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}