<footer class="container-fluid p-0 bg-dark">
    <div class="border border-danger row col-12">
        <div class="containerSocial border border-danger col-4 pt-1">
            <a href=""><img src="{{ asset('pictures/logos/linkedin.svg') }}" alt="" class="logoSocial"></a>
            <a href=""><img src="{{ asset('pictures/logos/twitter-square.svg') }}" alt="" class="logoSocial"></a>
            <a href=""><img src="{{ asset('pictures/logos/facebook-square.svg') }}" alt="" class="logoSocial"></a>    
            <a href=""><img src="{{ asset('pictures/logos/linkedin.svg') }}" alt="" class="logoSocial"></a>                            
        </div>
    </div>
</footer>