<footer class="container-fluid p-0 bgFooter">
    <div class="border border-danger row col-12">
        <div class="containerSocial border border-danger col-4 pt-1">
            <a href="https://fr.linkedin.com/"><img src="{{ asset('pictures/logos/linkedin.svg') }}" alt="logo linkedin" class="logoSocial"></a>
            <a href="https://twitter.com/?lang=fr"><img src="{{ asset('pictures/logos/twitter-square.svg') }}" alt="logo twitter" class="logoSocial"></a>
            <a href="https://www.facebook.com/campaign/landing.php?&campaign_id=1555709729&extra_1=s%7Cc%7C294530221636%7Ce%7Cfacebook%27%7C&placement=&creative=294530221636&keyword=facebook%27&partner_id=googlesem&extra_2=campaignid%3D1555709729%26adgroupid%3D58543435105%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D1t1%26target%3D%26targetid%3Dkwd-362360550869%26loc_physical_ms%3D1006094%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=EAIaIQobChMImYyyz7Co5AIVlvhRCh1McQEkEAAYASAAEgKxLPD_BwE"><img src="{{ asset('pictures/logos/facebook-square.svg') }}" alt="logo facebook" class="logoSocial"></a>    
                                       
        </div>
        <div class="containerLien border border-success col-4 pt-1">         
            <ul>
                <li><a href="{# {{ path('') }} #}">Mes games</a></li>
                <li><a href="">Foo</a></li>
                <li><a href="">Foo</a></li>
                <li><a href="">Foo</a></li>
            </ul>                            
        </div>
        <div class="containerCondition border border-primary col-4 pt-1">         
            <ul>
                <li><a href="">Nous contacter</a></li>
                <li><a href="">Condition livraison</a></li>
                <li><a href="">Moyen de paiment</a></li>
                <li><a href="">RGPD</a></li>
            </ul>                            
        </div>
    </div>
</footer>