*{
    box-sizing: border-box;
}

body{
    margin: 0;
    border: 1px solid #1aa34f;
}

table,
td {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #333;
}

thead {
    background-color: rgb(201, 145, 25);
    color: #fff;
    border: 1px solid #f6fdff;
}

h1{
    margin: 0;
}