/*   _______________________  Base Debut carousel     */
.container1{
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px blue solid;
    
}
.galerie1{
    
    width: 50%;
    display: inline-flex;
    margin: 0 auto;
    padding: 0;
    
    
    
    border: 1px red solid;
    
}

.galerie1 li{
    list-style: none;
    width: 100%;
    
    margin: 0 auto;
    border: 1px yellow solid;
    
}

.sizepict1{
    /* height: 5rem; */
    /* min-height: 5rem; */
    width: 100%;
    /* width: 15rem; */
    /* max-width: 15rem; */
    border: 2px greenyellow solid;
}
.pict1{
    
    
}



.zoom1{
    transform: scale(1.3);
    margin-top: 4rem;
    border: 1px green solid;

}
/*   _______________________   Fin carousel     */
/*   _______________________  Test Debut carousel     */
.container{
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px blue solid;
    
}
.galerie{
    
    width: 50%;
    display: inline-flex;
    margin: 0 auto;
    padding: 0;
    
    
    
    border: 1px red solid;
    
}

.galerie li{
    list-style: none;
    width: 100%;
    
    margin: 0 auto;
    border: 1px yellow solid;
    
}

.sizepict{
    /* height: 5rem; */
    /* min-height: 5rem; */
    /* width: 100%; */
    /* width: 15rem; */
    /* max-width: 15rem; */
    border: 2px greenyellow solid;
}


.zoom{
    transform: scale(1.3);
    margin-top: 4rem;
    border: 1px green solid;

}
/*   _______________________   Fin carousel     */
body{
    background: silver;
}

