.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1px;
}

body{
    height: 100vh;
    
    
}
.heightBg{
    background-repeat: no-repeat;
    background-size: cover;
    
}

.homeColor{
    background-color: rgb(138, 35, 255);
    background-size: contain;
    width: 100%;
    height: 100vh;
    
}
.displayNone{
    display: none;
}

/*   ____________________________    Start list card home  _________________  */

.pictDetail{
    width: 100%;
    z-index: 10;

    
}

.picCard{

    width: 100%;
    border-radius: 1rem 1rem 1rem 1rem;
    transition: all .2s ease-in-out;
    
}
.detailCard { 
    padding: 0;
    
    /* border: 1px black solid; */
    /* background: rgb(94, 43, 153); */
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
}
.zoomCard { 
    padding: 0;
    /* border: 1px black solid; */
    
    transition: all .2s ease-in-out; 
    
    /* background: rgb(94, 43, 153); */
    /* background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%); */
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);

    color: white;
    overflow: hidden;
}
    
    
    .zoomCard:nth-child(n+1){
        border-radius: 1rem 1rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+2){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+3){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+4){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+5){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+6){
        border-radius: 0rem 0rem 1rem 1rem;
        transition: border-radius .2s ease-in-out; 
    }


    .zoomCard:hover { 
        transform: scale(1.05);
        z-index: 5;
        box-shadow: 1px 1px 15px 5px #656565; 
        border-radius: 1rem 1rem 1rem 1rem;
        
    }

    


/*   ____________________________    End list card home  _________________  */

/*  _____________________________    Start footer ________________________  */
.bgFooter{
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);

}
.superContainerSocial{
    display: flex;
    justify-content: center;
    justify-content: space-around;   
    
}
.containerSocial{
    height: 4rem;
    padding-top: 20px;
}
.logoSocial{
    width: 2rem;
    margin: 0.2rem;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.logoSocial:hover{
    width: 2.3rem;
    margin: 0;
    transform: scale(1.3);
    background: white;
    box-shadow: 1px 1px 15px 5px #fdfdfd; 
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
}
containerLien{
    
}
containerCondition{

}
/*  _____________________________    End footer ________________________  */
/*  _____________________________    Start mon panier - bucket ________________________  */
.posRelative{
    position: relative;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(255,255,255,0.75);
    padding: 0;
}
.loader{
    height: 14rem;
    width: 14rem;
    
}
/* responsive table bucket */
@media (max-width: 700px) {
    .responsive-table-line td:before { content: attr(data-title); }
    .responsive-table-line table, 
    .responsive-table-line thead, 
    .responsive-table-line tbody, 
    .responsive-table-line th, 
    .responsive-table-line td, 
    .responsive-table-line tr { 
    display: block; 
    }
     
    .responsive-table-line thead tr { 
    display:none;
    }
    .responsive-table-line td { 
    position: relative;
    border: 0px solid transparent;
    padding-left: 50% !important; 
    white-space: normal;
    text-align:right; 
    }
     
    .responsive-table-line td:before { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%; 
    padding-right: 15px; 
    height:100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow:hidden !important;
    text-align:left;
    background-color:#f8f8f8;
    padding:2px;
    }

                                        }

/*  _____________________________    End mon panier - bucket ________________________  */

@media (min-width: 720px){

    .zoomCard:nth-child(n+1){
        border-radius: 1rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+2){
        border-radius: 0rem 1rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+3){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+4){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+5){
        border-radius: 0rem 0rem 0rem 1rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+6){
        border-radius: 0rem 0rem 1rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }

    .zoomCard:hover { 
        transform: scale(1.05);
        z-index: 5;
        box-shadow: 1px 1px 15px 5px #656565; 
        border-radius: 1rem 1rem 1rem 1rem;
        
    }
}
@media (min-width: 1200px){

    .zoomCard:nth-child(n+1){
        border-radius: 1rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+2){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+3){
        border-radius: 0rem 1rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+4){
        border-radius: 0rem 0rem 0rem 1rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+5){
        border-radius: 0rem 0rem 0rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }
    .zoomCard:nth-child(n+6){
        border-radius: 0rem 0rem 1rem 0rem;
        transition: border-radius .2s ease-in-out; 
    }

    .zoomCard:hover { 
        transform: scale(1.05);
        z-index: 5;
        box-shadow: 1px 1px 15px 5px #656565; 
        border-radius: 1rem 1rem 1rem 1rem;
        
    }
}


