{% block title %}{{ title_name }} un Utilisateur{% endblock %}

{% block body %}

<h1>{{ title_name }} un Utilisateur</h1>
{{form(user_form)}}


<a href="{{ path('list_user') }}" class="nav-link btn btn-danger">Retour à la liste</a>

{% endblock %}
